@use "variables" as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: v.$main_font;
    font-size: 1.6rem;
    line-height: 1.8;
}
p {
    color: v.$black;
    font-size: 2rem;
}
a { 
    text-decoration: none; 
    &:hover { cursor: pointer; }
}
img, picture {
    width: 100%;
    display: block;
}
h1, h2, h3, h4 {
    font-family: v.$main_font;
    margin: calc(v.$separation / 2);
    font-weight: v.$regular;
    text-align: center;
}
h1 { font-size: 3.8rem; }
h2 { font-size: 3.4rem; }
h3 { font-size: 3rem; }
h4 { font-size: 2.6rem; }
ul {
    list-style: none;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
textarea { resize: none; }